@import url(notes-commun.css);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
	font-family:"Nimbus Sans L","Android Sans", FreeSans, "Liberation Sans", sans-serif;
	position:relative;
}

.whata p { text-indent:0}


#doc-title {
	text-align:center;
	font-weight:normal;
	font-family:inherit;
}

pre:not(.whata-pcode), pre:not(.whata-pcode) code:not(.whata-pcode) {
	font-family:"Ubuntu Mono", "Source Code Pro", monospace !important;
}

.whata
{
	margin-right:1em;
	color:#222
}

.whata ul:first-child, .whata h1 + ul {
	margin-left:0;
	padding-left:0
}

section h1 {
	text-align:left;
	margin-left:-1rem;
	color:#F30;
}

section {
	margin-left:1rem
}

#links {
	margin:0;
	padding:0;
	list-style:none
}

#links li {
	display:inline-block;
}

#links +h1 {
	margin-top:0;
	padding-top:0;
}

h2,h3,h4,h5,h6, section section h1 {
	text-align:left;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:normal
}

h2, section section h1 {
	color:#05A;
}

section section h1 {
	counter-increment:s-partie;
}

/*section section h1:before {
   content: counter(s-partie) "."
}*/

h3, section section section h1 {
	color:#0A5
}

h4, section section section section h1 {
	color:#F50
}

h5, section section section section section h1 {
	color:maroon
}

h6, section section section section section section h1 {
	color:black
}

li {
	margin-left:1em;
}

#sommaire
{
	border:1px solid silver;
	text-align:left;
	display:inline-block;
/*	background:rgba(255,255,255,0.7);*/
	background:white;
	font-size:0.9em;
	margin: 0 0 1rem 1rem;
	max-height:25em;
	overflow:auto;
	position:relative;
	float:right;
	position:relative;
	z-index:10
}

#sommaire h1
{
	font-size:1.1em;
	text-align:center;
}

#sommaire ul
{
	padding-left:0;
	list-style:none;
	font-size:0.95em;
}
/*
#sommaire>ul
{
	color:#F30;
	-o-transition:500ms;
	-moz-transition:500ms;
	-webkit-transition:500ms;
	transition:500ms;
	opacity:0.7;
	padding-right:1ex;
}

#sommaire>ul:hover
{
	opacity:1;
}

#sommaire>ul>li>ul
{
	color:#05A
}


#sommaire>ul>li>ul>li>ul
{
	color:#0A5
}

#sommaire>ul>li>ul>li>ul>li>ul
{
	color:#F50
}

#sommaire>ul>li>ul>li>ul>li>ul>li>ul
{
	color:maroon
}
*/
#sommaire a:link
{
	color:#333;
	text-decoration:none
}

#sommaire a:visited
{
	color:gray;
}

#sommaire:hover a:visited
{
	color:inherit;
}

#sommaire a:link:hover
{
	text-shadow: 0 0 20px
}

#sommaire a:focus
{
	color:red !important;
}

div.def, section.def>div {
	border: 1px dashed green;
	background:rgba(235,255,235, 0.3);
}

div.coro, section.coro>div {
	border: 1px dashed #F50;
	background:rgba(255,230,210, 0.3);
}

div.theo, section.theo>div {
	border: 1px dashed #05A;
	background:rgba(220,245,255, 0.3);
}

div.propo, section.propo>div {
	border: 1px dashed #05A;
	background:rgba(220,245,255, 0.3);
}

div.propr, section.propr>div {
	border: 1px dashed #05A;
	background:rgba(220,245,255, 0.3);
}

div.note, section.note>div {
	border: 1px dashed #A50;
	background:rgba(255,245,220, 0.3);
}

div.box, section.box>div {
	margin-left:2rem;
	margin-bottom:1rem;
	color:black
}

.box {
	position:relative;
}

.box+.box {
	margin-top:1ex
}

.info {
	position:relative;
	color:#777;
	font-style:italic;
	font-size:small
}

.info p, .info ul, .box p, .box ul {
	padding: 0.5ex;
	margin-top:0;
	margin-bottom:0;
}

div.def:before, section.def>.in-box:before {
	content:"def:";
	color:#5A5;
}

div.theo:before, section.theo> .in-box::before {
	content:"theo:";
	color:#05A;
}

div.propr:before, section.propr>.in-box:before {
	content:"prop:";
	color:#05A;
}

div.propo:before, section.propo>.in-box:before {
	content:"prop:";
	color:#05A;
}

div.note:before, section.note>.in-box::before {
	content:"note:";
	color:#A50;
}


div.coro:before, section.coro>.in-box:before {
	content:"coro:";
	color:#F50;
}

div.box:before, section.box>.in-box:before {
	opacity:0.6;
	display:inline-block;
	-moz-transform:rotate(-25deg);
	-o-transform:rotate(-25deg);
	-ms-transform:rotate(-25deg);
	-webkit-transform:rotate(-25deg);
	transform:rotate(-25deg)
}

div.box:before, section.box>.in-box:before, .info:before {
	position:absolute;
	font-size:1.2rem;
	top:0;
	left:-5ex
}

.info:before {
	content:"i";
	font-family:serif;
	font-style:italic;
	font-size:1.5em;
	color:silver;
	left:-1.5rem;
}

.in-box {
	position:relative;
}

.box h1:first-child {
	margin-top:0;
	padding-top:0;
}

.box > h1
{
	font-size:0;
	color:transparent;
	display:block;
	margin-left:2rem;
}

.very-compact p:before{content:"  "}
.very-compact p {
	display:inline;
	margin:0;
	padding:0
}


.whata-code-block {
	font-size:0.8rem
}

.cib>*, .ib
{
		display:inline-block;
		vertical-align:middle
}

.box > h1 strong
{
	font-size:0.9rem;
	color:#CA6;
	font-weight:normal;
	font-style:italic
}

.preuve > h1, .ex > h1, .lemme > h1 {
	font-size:small;
	color:#D20;
	text-align:left
}

.preuve .in-box, .ex .in-box
{
	margin-left:2.5em;
	border-left:1px solid #FA7;
}

.preuve > h1 strong, .ex > h1 strong, .lemme > h1 strong
{
	color:inherit;
	font-style:none;
	font-weight:bold;
	font-size:1em
}

h1+section
{
	margin-top:-1em
}

.illustr, .whata-algorithmic
{
	background:rgba(255,255,255,0.8);
	margin-top:1ex;
	margin-left:2em;
	border:1px solid silver;
	padding:1ex;
	display:inline-block
}

.whata-title-number:after {
	content:".";
	position:relative;
	right:0.5ex
}
.whata-title-number {
	margin-right:-0.5ex
}

.ex .in-box {
	margin-left:0;
	padding-left:1ex
}
.ex > h1:first-child {
    margin:0
}

.whata p+pre {
	margin-left:0.8ex
}

.whata code, .whata pre {
   font-family:"Liberation Mono", "Ubuntu Mono","Latin Modern Mono", monospace !important;
   font-size:1em !important;
}

.whata-algorithmic {
   font-family:"Latin Modern Roman", serif;
}

.whata-algorithmic-title {
   color:#555;
   background:rgba(150,150,150,0.1);
   margin:-0.5ex -0.5ex 0 -0.5ex;
   font-size:small;
   text-align:center
}

.whata-footnote:target {
   background:rgba(255,255,100, 0.3)
}