@import url(common.css);

body, p {
    font-family:"Latin Modern Sans", "Droid Sans", "Liberation Sans", Calibri, sans-serif;
    text-align:justify
}

@media print {
	body, p {
		font-family:"Latin Modern Roman", "Latin Modern Sans", "Droid Sans", "Liberation Sans", Calibri, sans-serif;
	}
}

pre, code, .reveal code {
    font-family:"Latin Modern Mono", "Droid Mono", "Ubuntu Mono", monospace
}

::-moz-selection { color: black;  background: #FD6; }
::selection      { color: black;  background: #FD6; }

.whata-code-block ::-moz-selection, .whata-output ::-moz-selection, .whata-input ::-moz-selection { color: black;  background: #8C8; }
.whata-code-block ::selection, .whata-output ::selection, .whata-input ::selection { color: black;  background: #8C8; }

nav ::-moz-selection {background:gray;color:black}
nav ::selection {background:gray;color:black}

h1 {
    font-weight:normal
}

.whata-title {
    margin-bottom:0.5rem;
}

.whata p {
    margin-top:0;
}

.whata-slide {
    text-align:justify;
    width:100%;
    height:100%
}

.whata-presentation-enabled .whata-unordered-title.whata-real-title-level-1 {
    text-align:center
}

.whata-presentation-enabled .whata-slide>div, .whata-presentation-enabled .box>h1 {
    font-size:24pt;
}

.whata-presentation-enabled .box>h1 {
    margin-bottom:10pt
}

.whata-presentation-enabled #doc-content section .box {
    margin-bottom:30pt
}

.whata-presentation-enabled #doc-title {
    font-size:5em;
    margin-bottom:0.5em;
}

.whata-presentation-enabled .whata-real-title-level-1 {
    font-size:36pt;
    margin-bottom:25pt
}

.whata-presentation-enabled .whata-real-title-level-2 {
    font-size:26pt;
    margin-bottom:15pt
}

.whata-presentation-enabled .whata-real-title-level-3 {
    font-size:22pt;
    margin-bottom:14pt
}

#toc {
    max-width:120ex;
    margin:auto;
}

#toc li, #toc ul {
    margin-left:0;
    list-style:none;
}

#toc>ul {
    padding-left:1ex
}

#toc a:link {
    font-size:small;
    text-decoration:none
}

#doc-title {
    color: black;
    font-family:"Latin Modern Roman", "Linux Libertine O", "Liberation Sans", Calibri, sans-serif;
    text-align:center;
    font-size:2.5em
}

.whata-presentation-enabled #doc-title, .whata-presentation-enabled #doc-date, .whata-presentation-enabled #doc-author {
    font-family:"Latin Modern Sans", "Droid Sans", "Liberation Sans", sans-serif;
}


#doc-date {
    text-align:center;
    font-family:"Latin Modern Roman", "Linux Libertine O", "Liberation Sans", Calibri, sans-serif;
    font-size:1.3em;
}

#doc-author {
    text-align:center;
    font-size:1.3em;
    font-family:"Latin Modern Roman", "Linux Libertine O", "Liberation Sans", Calibri, sans-serif;
}


.whata-algorithmic {
    margin:1em auto;
    text-align:center;
}

.whata-algorithmic-content {
    border:1px solid silver;
    padding:1ex;
    display:inline-block;
    text-align:left;
}

.in-box {
    background:#F1F1F1
}

.ex>.in-box {
    background:transparent;
    border-left: 1px solid black;
    margin-top:0.5ex;
    padding-top:0.5ex;
    padding-bottom:0.5ex;
    padding-left:0.5ex
}

.in-box>ul:first-child {
    margin-top:0
}

.box>h1 {
    margin:0;
    font-size:1rem
}

#doc-content ol {
    margin-left:1em
}

#doc-content section .box {
    margin-top:1em;
    margin-bottom:1em;
    margin-left:2em
}

.in-box>p:first-child {
    margin-top:0
}

.whata-real-title-level-1 {
    color:#A70;
    font-size:1.3em
}

.whata-real-title-level-1 code, #doc-content .whata-real-title-level-1 a:link {
    color:#A80
}

#doc-content .whata-real-title-level-1 a:visited {
    color:#C95
}

.whata-real-title-level-2 {
    color:#720;
    font-size:1.1em
}

.whata-real-title-level-3 {
    color:#050;
    font-size:0.95em
}

.whata-real-title-level-2 code, .whata-real-title-level-2 a:link {
    color:#F33
}

#doc-title code {
/*     color:maroon */
}

.correction .fleche-before-chapter-name {
    display:none
}

.correction .fleche-before-chapter-name+a:link {
    float:left;
    font-size:1rem
}

#doc-content a:link {
    color:#050;
}

#doc-content a:visited {
    color:#5A5;
    font-weight:bold;
}

.arbo {
    margin: 0 1em 0 1em;
    font-size:0.9em
}

p {
    text-indent:0;
    line-height:150%
}

#doc-content {
    max-width:120ex;
    margin:auto;
    margin-top:1em
}

.whata-presentation-enabled #doc-content {
    max-width:100%
}

.whata-code-block + .whata-code-block {
    margin-top:1ex
}

.whata-title-number {
    font-size:0.9em
}

p code {
    color:#353;
}

.whata-title-number:after {
    content:". ";
    margin-left:-0.5ex
}

.whata-output {
    margin-top:1em;
    position:relative;
    overflow:visible
}

.whata-output:before {
    position:absolute;
    top:-1.5em;
    height:1em;
    font-size:0.8em;
    display:block;
    width:100%;
    content:"Sortie";
    font-style:italic;
    text-align:right;
    color:gray;
    font-family:"Latin Modern Sans", "Droid Sans", "Liberation Sans", sans-serif;
}

.whata pre.whata-code-block, .whata-output, .whata-input {
    margin-right:1ex;
    margin-left:2em;
    margin-top:0.8em;
    margin-bottom:0.8em;
    border:1px solid silver;
    overflow:visible
}

.whata-presentation-enabled pre.whata-code-block {
    border:0px;
    border-left:2px solid silver;
    padding-left:0.5ex
}

.whata pre {
    margin-top:1em;
    margin-bottom:1em
}

.whata-geshi .ln {
    color:gray;
    position:absolute;
    left:-3rem
}

.whata-geshi .ln pre {
    text-align:right;
    width:2.4rem;
}

.whata-geshi {
    background:white
}

.whata-code-block {
    position:relative;
}

#doc-content section {
    margin-left:1ex
}

#doc-content section h1 {
    margin-left:-1ex
}

.whata td > :first-child, .whata th > :first-child {
    margin-top:0;
}

.whata td > :last-child, .whata th > :last-child {
    margin-bottom:0;
}


ul {
    margin-left:0;
    padding-left:0;
}

.whata-geshi .ln {
    background:none;
    width:3ex
}

p {
    clear:both
}

table pre {
    margin-right:0;
    margin-left:0;
}

table pre:first-child {
    margin-top:0;
}
table pre:last-child {
    margin-bottom:0;
}

.in-box .MathJax_Display:first-child {
    margin-top:0
}

.whata-algorithmic h1 {
    margin:0 !important;
    padding:0 !important;
    background:#F1F1F1;
    font-size:small
}

.def {
    background:none !important; /* overwrite print.css */
}

.whata pre {
    margin-left:2em;
    box-shadow:none;
    white-space:pre-wrap
}

@media print {
    body {
        font-size:10pt;
    }

    .whata p, .whata p + ul, .whata p + ol {
        margin-top:-1rem !important;
        margin-bottom:0 !important;
    }

    .whata p:not(:first-child) {
        text-indent:4ex;
    }

    .whata-title + p, .whata ul + p, .whata ol + p, .whata div + p {
        text-indent:0 !important;
    }

    #doc-title {
        font-size:16pt;
        color:black !important;
    }

    #doc-date, #doc-author {
        font-size:10pt
    }
}
