.whata li>:first-child {text-indent:0;margin-top:0.5ex}
.whata li>:last-child {margin-bottom:0;padding-bottom:0}

.whata-quote{margin-right:1em}

.whata-quote-header a:link{color:inherit}

.whata blockquote p:first-child{margin-top:0.5ex}
.whata blockquote p:last-child{margin-bottom:0.5ex}

.whata-geshi .ln
{
    background:#EEE;
    padding-left:0.5ex;
    padding-right:0.5ex
}

.whata-code-block pre:not(.whata-geshi pre)
{
    margin:0;
    overflow:auto
}

.whata-geshi td.de1 pre{margin-left:1ex}

.whata-code-block a:link{text-decoration:none}

.whata a:link
{
    font-weight:bold;
    text-decoration:none
}

.whata a:link:hover{text-decoration:underline}
.whata a:link{color:#555}
.whata a:visited{color:#888}

.whata-align-center{text-align:center}
.whata-align-left{text-align:left}
.whata-align-right{text-align:right}
.whata-align-justify{text-align:justify}

.whata-table
{
    margin-left:auto;
    margin-right:auto;
    border-collapse:collapse
}

.whata-float-left{float:left;margin-right:1ex;margin-bottom:0.5ex;margin-top:0.5ex}
.whata-float-right{float:right;margin-left:1ex;margin-bottom:0.5ex;margin-top:0.5ex}
.whata-float-center{text-align:center; vertical-align:middle}

.whata-clear, .whata-tag-clear{clear:both}

.whata-list-a:link{list-style-type:lower-alpha}
.whata-list-A{list-style-type:upper-alpha}
.whata-list-i{list-style-type:lower-roman}
.whata-list-I{list-style-type:upper-roman}
.whata-list-circle{list-style-type:circle}
.whata-list-disc{list-style-type:disc}
.whata-list-square{list-style-type:square}
.whata-list-1{list-style-type:decimal}

.whata img {
    vertical-align:middle
}

.whata-code-block.whata-pcode, .whata-pcode code {
    font-family:STIXGeneral, serif;
    font-size:1em;
    white-space:pre-wrap;
    overflow:hidden
}

.whata-algorithmic-comment:before {
   content:"▹";
   display:inline-block;
   padding:0 0.5ex 0 1ex
}

.whata-algorithmic-comment {
   float:right
}

.whata-footnotes>ul {
    list-style:none;
    margin-top:0;
    padding-top:0;
    margin-left:0;
}

.whata-footnotes>ul>li {
    margin:0;
    padding:0
}

.whata-footnote-content {
    display:inline-block;
    padding-left:1ex
}

.whata-footnote-content>p:first-child {
    padding-top:0;
    margin-top:0
}

.whata-footnote-content>p:last-child {
    padding-bottom:0;
    margin-bottom:0
}


.whata div > p:first-child, .whata-input p:first-child, .whata-output p:first-child
{
    margin-top:0;
}

.whata-input
{
    font-family:monospace
}

.whata-input p
{
    text-indent:0
}

.whata-geshi
{
    margin-left:1ex;
    border:1px dotted gray
}

.whata-geshi pre
{
    margin:0
}

.whata-geshi table
{
    border-collapse:collapse;
}

.whata-custom-list-item {
    display:table-row;
}

.whata-custom-list-item-content {
    margin-left: 1ex
}

.whata ul.whata-list-descr {
    display:table;
    border-collapse: separate;
    border-spacing: 1ex 0;
}

.whata-custom-list-item-value, .whata-custom-list-item-content {
    display:table-cell;
    vertical-align:top;
    margin-top:0;
    padding-top:0;
}

.whata-custom-list-item-content p:last-child {
    margin-bottom:0;
    padding-bottom:0;
}

.whata-custom-list-item-content p:first-child {
    margin-top:0;
    padding-top:0;
}
